<div class="container-centered">
    <form ng-submit="submitForm()">
        <div class="row">
            <div class="col-xs-6">
                <label for="name">Jméno</label>
                <input class="form-control" ng-model="name" id="name">
            </div>
            <div class="col-xs-6">
                <label for="surname">Příjmení</label>
                <input class="form-control" ng-model="surname" id="surname">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="radio">
                    <label for="genderM">
                        <input type="radio" name="gender" ng-model="gender" value="male" id="genderM"/>
                        Muž
                    </label>
                </div>
                <div class="radio">
                    <label for="genderF">
                        <input type="radio" name="gender" ng-model="gender" value="female" id="genderF"/>
                        Žena
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <label for="ageCategory">Věková kategorie
                    <select
                        class="form-control"
                        ng-options="ageCategory as ageCategory.label for ageCategory in ageCategories track by ageCategory.value"
                        ng-model="selectedAgeCategory"
                        ng-change="selectAgeCategory()"
                        id="ageCategory"
                    >
                    </select>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <label for="hobby"> Hobby
                    <input-dropdown
                        ng-model="selectedHobby"
                        suggestions="suggestedHobbies"
                        filter-method="filterSuggestedHobbies(userInput)"
                        id="hobby"/>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <input class="btn btn-primary" type="submit" value="Odeslat"/>
            </div>
        </div>


    </form>
</div>
